.gameContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.matchupsAndRecords {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  padding: 5px;
  width: 200px;
}
.matchupsAndRecords h2 {
  margin: 10px;
}
.birdsView {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  padding: 5px;
  width: 200px;
}
.diamond {
  view-Box: 0 0 20 20;
  height: 100px;
  width: 100px;
}
.BSO {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 100px;
  margin-left: 10px;
}
