.gameContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  -webkit-box-shadow: 9px 12px 5px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 9px 12px 5px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 9px 12px 5px 0 rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.matchupsAndRecords {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  padding: 5px;
  width: 250px;
  border-radius: 5px 5px 0 0;
}
.matchupsAndRecords h5 {
  margin: 5px;
}
.awayTeam {
  text-align: center;
}
.homeTeam {
  text-align: center;
}
.birdsView {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  padding: 5px;
  width: 250px;
  border-radius: 0 0 5px 5px;
  color: black;
}
.diamond {
  view-Box: 0 0 30 30;
  height: 100px;
  width: 100px;
}
.BSO {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 100px;
  margin-left: 10px;
}
